---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spotify clone by ggaleanoguerra">
  <div
    id="recomentadions-container"
    class="relative transition-all duration-1000 bg-green-700"
  >
  </div>
  <div class="relative z-10 px6">
    <div>Hola mundo</div>
  </div>
</Layout>
