---

---

<div id="playlist-container"></div>

<script type="module">
  document.addEventListener("DOMContentLoaded", async () => {
    const params = new URLSearchParams(window.location.search);
    const token = params.get("token");

    if (token) {
      try {
        const response = await fetch(
          "https://api.spotify.com/v1/me/playlists",
          {
            headers: {
              Authorization: `Bearer ${token}`,
            },
          }
        );

        if (!response.ok) {
          throw new Error("Error fetching playlists");
        }

        const playlists = await response.json();
        const container = document.getElementById("playlist-container");
        console.log(playlists);

        playlists.items.forEach((item) => {
          const link = document.createElement("a");
          link.href = item.external_urls.spotify;
          link.className =
            "playlist-item flex relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-zinc-500";

          const picture = document.createElement("picture");
          picture.className = "h-12 w-12 flex none";

          const img = document.createElement("img");
          img.src =
            Array.isArray(item.images) && item.images.length > 0
              ? item.images[0].url
              : "https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Primary_Logo_RGB_Green.png";
          img.alt = item.name;
          img.className = "w-full h-full rounded-md";

          picture.appendChild(img);

          link.appendChild(picture);

          const name = document.createElement("span");
          name.textContent = item.name;
          link.appendChild(name);

          container.appendChild(link);
        });
      } catch (error) {
        console.error("Error:", error);
        window.location.href = "/api/login";
      }
    } else {
      window.location.href = "/api/login";
    }
  });
</script>
